Claro.SISACT.Negocios/Web References/OACWS/ConsultaDeudaCuenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://claro.com.pe/eai/oac/consultadeudacuenta/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://claro.com.pe/eai/oac/consultadeudacuenta/" name="ConsultaDeudaCuenta" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema xmlns:Q1="http://claro.com.pe/eai/servicecommons/" xmlns:tns="http://claro.com.pe/eai/oac/consultadeudacuenta/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/oac/consultadeudacuenta/">
      <xsd:import schemaLocation="http://limdesosbv05.tim.com.pe:8909/OAC_Services/Inquiry/ConsultaDeudaCuenta?SCHEMA%2FUtilities%2Fxsd%2FAudit" namespace="http://claro.com.pe/eai/servicecommons/" />
      <xsd:element name="consultaDeuda">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="txId" type="xsd:string" />
            <xsd:element name="pCodAplicacion" type="xsd:string" />
            <xsd:element name="pUsuarioAplic" type="xsd:string" />
            <xsd:element name="pCliTipoDocIdent" type="xsd:string" />
            <xsd:element name="pCliNroDocIdent" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaDeudaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="Q1:AuditType" />
            <xsd:element name="xDeuda" type="tns:ClienteType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ClienteType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="xDetalleCliente" type="tns:DetalleClienteType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleClienteType">
        <xsd:sequence>
          <xsd:element name="xNombreCliente" nillable="true" type="xsd:string" />
          <xsd:element name="xApePatCliente" nillable="true" type="xsd:string" />
          <xsd:element name="xApeMatCliente" nillable="true" type="xsd:string" />
          <xsd:element name="xDeudaMovil" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDeudaFija" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDeudaVencidaMovil" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDeudaVencidaFija" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDeudaCastigadaMovil" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDeudaCastigadaFija" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDniAsociado" nillable="true" type="xsd:string" />
          <xsd:element name="xAntiguedadDeuda" nillable="true" type="xsd:decimal" />
          <xsd:element name="xTotalServicios" nillable="true" type="xsd:decimal" />
          <xsd:element name="xCuentas" nillable="true" type="tns:CuentaType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CuentaType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="xDetalleCuenta" type="tns:DetalleCuentaType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetalleCuentaType">
        <xsd:sequence>
          <xsd:element name="xTipoServicio" nillable="true" type="xsd:string" />
          <xsd:element name="xCodCuenta" nillable="true" type="xsd:string" />
          <xsd:element name="xEstadoCuenta" nillable="true" type="xsd:string" />
          <xsd:element name="xPromedioFact" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDeudaCorriente" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDeudaVencida" nillable="true" type="xsd:decimal" />
          <xsd:element name="xDeudaCastigada" nillable="true" type="xsd:decimal" />
          <xsd:element name="xCantServicios" nillable="true" type="xsd:decimal" />
          <xsd:element name="xIndCentralRiesgo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </s:schema>
  </types>
  <message name="consultaDeudaRequest">
    <part name="parameters" element="s0:consultaDeuda" />
  </message>
  <message name="consultaDeudaResponse">
    <part name="parameters" element="s0:consultaDeudaResponse" />
  </message>
  <portType name="ConsultaDeudaCuenta">
    <operation name="consultaDeuda">
      <input message="s0:consultaDeudaRequest" />
      <output message="s0:consultaDeudaResponse" />
    </operation>
  </portType>
  <binding name="ConsultaDeudaCuentaSOAP" type="s0:ConsultaDeudaCuenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="consultaDeuda">
      <soap:operation soapAction="http://claro.com.pe/eai/oac/consultadeudacuenta/consultaDeuda" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ConsultaDeudaCuenta">
    <port name="ConsultaDeudaCuentaSOAP" binding="s0:ConsultaDeudaCuentaSOAP">
      <soap:address location="http://limdesosbv05.tim.com.pe:8909/OAC_Services/Inquiry/ConsultaDeudaCuenta" />
    </port>
  </service>
</definitions>