Claro.SISACT.Negocios/Web References/ConsultarPuntosWS/ConsultaPuntos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema xmlns:Q1="http://claro.com.pe/eai/servicecommons/" xmlns:tns="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub">
      <xsd:import schemaLocation="http://172.19.74.141:8901/ClaroClub_Services/Inquiry/ConsultaPuntos?SCHEMA%2FUtilities%2Fxsd%2FAudit" namespace="http://claro.com.pe/eai/servicecommons/" />
      <xsd:complexType name="CursorSaldosType">
        <xsd:sequence>
          <xsd:element name="tipoCliente" type="xsd:string" />
          <xsd:element name="saldoTT" type="xsd:string" />
          <xsd:element name="saldoCC" type="xsd:string" />
          <xsd:element name="saldoIB" type="xsd:string" />
          <xsd:element name="solesTT" type="xsd:string" />
          <xsd:element name="valorSegmento" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CurCampanaType">
        <xsd:sequence>
          <xsd:element name="idCampana" type="xsd:int" />
          <xsd:element name="descripcion" type="xsd:string" />
          <xsd:element name="tipo" type="xsd:string" />
          <xsd:element name="valor" type="xsd:int" />
          <xsd:element name="fecha_inicio" type="xsd:date" />
          <xsd:element name="fecha_fin" type="xsd:date" />
          <xsd:element name="tipoCliente" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="consultarPuntosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="ipAplicacion" type="xsd:string" />
            <xsd:element name="aplicacion" type="xsd:string" />
            <xsd:element name="usuarioAplicacion" type="xsd:string" />
            <xsd:element name="tipoDoc" type="xsd:string" />
            <xsd:element name="numDoc" type="xsd:string" />
            <xsd:element name="codigoCliente" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPuntosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="Q1:AuditType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="cursorSaldos" type="tns:CursorSaldosType" />
            <xsd:element name="factorConversion" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="curCampana" type="tns:CurCampanaType" />
            <xsd:element name="codigoSegmento" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </s:schema>
  </types>
  <message name="consultarPuntosClaroClubRequestMessage">
    <part name="parameter" element="s0:consultarPuntosRequest" />
  </message>
  <message name="consultarPuntosClaroClubResponseMessage">
    <part name="parameter" element="s0:consultarPuntosResponse" />
  </message>
  <portType name="ebsConsultatPuntosClaroClubPortType">
    <operation name="consultarPuntosClaroClub">
      <input message="s0:consultarPuntosClaroClubRequestMessage" />
      <output message="s0:consultarPuntosClaroClubResponseMessage" />
    </operation>
  </portType>
  <binding name="ebsConsultatPuntosClaroClubPortTypeSOAP11Binding" type="s0:ebsConsultatPuntosClaroClubPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="consultarPuntosClaroClub">
      <soap:operation soapAction="urn:ebsConsultarPuntosClaroClub/consultarPuntosClaroClub" style="document" />
      <input>
        <soap:body use="literal" parts="parameter" />
      </input>
      <output>
        <soap:body use="literal" parts="parameter" />
      </output>
    </operation>
  </binding>
  <service name="ebsConsultaPuntosClaroClubService">
    <port name="ebsConsultaPuntosClaroClub" binding="s0:ebsConsultatPuntosClaroClubPortTypeSOAP11Binding">
      <soap:address location="http://172.19.74.141:8901/ClaroClub_Services/Inquiry/ConsultaPuntos" />
    </port>
  </service>
</definitions>