Claro.SISACT.Negocios/Web References/ConsultarPuntosWS/ConsPuntosClaroClub.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:Q1="http://claro.com.pe/eai/servicecommons/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/claroclubservices/consultarpuntosclaroclub">
      <xsd:import schemaLocation="http://172.19.74.141:8901/ClaroClub_Services/Inquiry/ConsultaPuntos/Inquiry/ConsultarPuntosClaroClub/proxy_services/ConsPuntosClaroClub?SCHEMA%2FUtilities%2Fxsd%2FAudit" namespace="http://claro.com.pe/eai/servicecommons/" />
      <xsd:complexType name="CursorSaldosType">
        <xsd:sequence>
          <xsd:element name="tipoCliente" type="xsd:string" />
          <xsd:element name="saldoTT" type="xsd:string" />
          <xsd:element name="saldoCC" type="xsd:string" />
          <xsd:element name="saldoIB" type="xsd:string" />
          <xsd:element name="solesTT" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CurCampanaType">
        <xsd:sequence>
          <xsd:element name="idCampana" type="xsd:int" />
          <xsd:element name="descripcion" type="xsd:string" />
          <xsd:element name="tipo" type="xsd:string" />
          <xsd:element name="valor" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="consultarPuntosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idTransaccion" type="xsd:string" />
            <xsd:element name="ipAplicacion" type="xsd:string" />
            <xsd:element name="aplicacion" type="xsd:string" />
            <xsd:element name="usuarioAplicacion" type="xsd:string" />
            <xsd:element name="tipoDoc" type="xsd:string" />
            <xsd:element name="numDoc" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarPuntosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="Q1:AuditType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="cursorSaldos" type="tns:CursorSaldosType" />
            <xsd:element name="factorConversion" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="curCampana" type="tns:CurCampanaType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultarPuntosClaroClubRequestMessage">
    <wsdl:part name="parameter" element="tns:consultarPuntosRequest" />
  </wsdl:message>
  <wsdl:message name="consultarPuntosClaroClubResponseMessage">
    <wsdl:part name="parameter" element="tns:consultarPuntosResponse" />
  </wsdl:message>
  <wsdl:portType name="ebsConsultatPuntosClaroClubPortType">
    <wsdl:operation name="consultarPuntosClaroClub">
      <wsdl:input message="tns:consultarPuntosClaroClubRequestMessage" />
      <wsdl:output message="tns:consultarPuntosClaroClubResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ebsConsultatPuntosClaroClubPortTypeSOAP11Binding" type="tns:ebsConsultatPuntosClaroClubPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="consultarPuntosClaroClub">
      <soap:operation soapAction="urn:ebsConsultarPuntosClaroClub/consultarPuntosClaroClub" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameter" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameter" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ebsConsultaPuntosClaroClubService">
    <wsdl:port name="ebsConsultaPuntosClaroClub" binding="tns:ebsConsultatPuntosClaroClubPortTypeSOAP11Binding">
      <soap:address location="http://172.19.74.141:8901/ClaroClub_Services/Inquiry/ConsultaPuntos/Inquiry/ConsultarPuntosClaroClub/proxy_services/ConsPuntosClaroClub" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>