Claro.SISACT.Negocios/Web References/GestionaProteccionMovilWS/GestionaProteccionMovilWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://claro.com.pe/eai/ws/gestionaproteccionmovilws" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://claro.com.pe/eai/ws/gestionaproteccionmovilws" name="GestionaProteccionMovilWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/gestionaproteccionmovilws" />
    <s:schema>
      <s:import schemaLocation="http://limdeseaiv28.tim.com.pe:8909/GestionaProteccionMovilWS/GestionaProteccionMovilWSSB11?xsd=2" namespace="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="guardarPrimaRequestMsg">
    <wsdl:part name="request" xmlns:q1="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q1:guardarPrimaRequest" />
  </wsdl:message>
  <wsdl:message name="guardarPrimaResponseMsg">
    <wsdl:part name="response" xmlns:q2="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q2:guardarPrimaResponse" />
  </wsdl:message>
  <wsdl:message name="buscarPrimaRequestMsg">
    <wsdl:part name="request" xmlns:q3="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q3:buscarPrimaRequest" />
  </wsdl:message>
  <wsdl:message name="buscarPrimaResponseMsg">
    <wsdl:part name="response" xmlns:q4="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q4:buscarPrimaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarPrimaRequestMsg">
    <wsdl:part name="request" xmlns:q5="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q5:eliminarPrimaRequest" />
  </wsdl:message>
  <wsdl:message name="eliminarPrimaResponseMsg">
    <wsdl:part name="response" xmlns:q6="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q6:eliminarPrimaResponse" />
  </wsdl:message>
  <wsdl:message name="guardarPreInscripcionRequestMsg">
    <wsdl:part name="request" xmlns:q7="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q7:guardarPreInscripcionRequest" />
  </wsdl:message>
  <wsdl:message name="guardarPreInscripcionResponseMsg">
    <wsdl:part name="response" xmlns:q8="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q8:guardarPreInscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="guardarInscripcionRequestMsg">
    <wsdl:part name="request" xmlns:q9="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q9:guardarInscripcionRequest" />
  </wsdl:message>
  <wsdl:message name="guardarInscripcionResponseMsg">
    <wsdl:part name="response" xmlns:q10="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q10:guardarInscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="renovarProteccionMovilRequestMsg">
    <wsdl:part name="request" xmlns:q11="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q11:renovarProteccionMovilRequest" />
  </wsdl:message>
  <wsdl:message name="renovarProteccionMovilResponseMsg">
    <wsdl:part name="response" xmlns:q12="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q12:renovarProteccionMovilResponse" />
  </wsdl:message>
  <wsdl:message name="validarExistenciaProteccionMovilRequestMsg">
    <wsdl:part name="request" xmlns:q13="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q13:validarExistenciaProteccionMovilRequest" />
  </wsdl:message>
  <wsdl:message name="validarExistenciaProteccionMovilResponseMsg">
    <wsdl:part name="response" xmlns:q14="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q14:validarExistenciaProteccionMovilResponse" />
  </wsdl:message>
  <wsdl:message name="procesarPagoPMRequestMsg">
    <wsdl:part name="request" xmlns:q15="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q15:procesarPagoPMRequest" />
  </wsdl:message>
  <wsdl:message name="procesarPagoPMResponseMsg">
    <wsdl:part name="response" xmlns:q16="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/types" element="q16:procesarPagoPMResponse" />
  </wsdl:message>
  <wsdl:portType name="GestionaProteccionMovilWSPortType">
    <wsdl:operation name="guardarPrima">
      <wsdl:input message="tns:guardarPrimaRequestMsg" />
      <wsdl:output message="tns:guardarPrimaResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="buscarPrima">
      <wsdl:input message="tns:buscarPrimaRequestMsg" />
      <wsdl:output message="tns:buscarPrimaResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="eliminarPrima">
      <wsdl:input message="tns:eliminarPrimaRequestMsg" />
      <wsdl:output message="tns:eliminarPrimaResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="guardarPreInscripcion">
      <wsdl:input message="tns:guardarPreInscripcionRequestMsg" />
      <wsdl:output message="tns:guardarPreInscripcionResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="guardarInscripcion">
      <wsdl:input message="tns:guardarInscripcionRequestMsg" />
      <wsdl:output message="tns:guardarInscripcionResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="renovarProteccionMovil">
      <wsdl:input message="tns:renovarProteccionMovilRequestMsg" />
      <wsdl:output message="tns:renovarProteccionMovilResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="validarExistenciaProteccionMovil">
      <wsdl:input message="tns:validarExistenciaProteccionMovilRequestMsg" />
      <wsdl:output message="tns:validarExistenciaProteccionMovilResponseMsg" />
    </wsdl:operation>
    <wsdl:operation name="procesarPagoPM">
      <wsdl:input message="tns:procesarPagoPMRequestMsg" />
      <wsdl:output message="tns:procesarPagoPMResponseMsg" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionaProteccionMovilWSPortTypeSOAP11Binding" type="tns:GestionaProteccionMovilWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="guardarPrima">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/guardarPrima" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrima">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/buscarPrima" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPrima">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/eliminarPrima" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarPreInscripcion">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/guardarPreInscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarInscripcion">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/guardarInscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renovarProteccionMovil">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/renovarProteccionMovil" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarExistenciaProteccionMovil">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/validarExistenciaProteccionMovil" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesarPagoPM">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/procesarPagoPM" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GestionaProteccionMovilWSPortTypeSOAP12Binding" type="tns:GestionaProteccionMovilWSPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="guardarPrima">
      <soap12:operation style="document" soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/guardarPrima" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPrima">
      <soap12:operation style="document" soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/buscarPrima" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPrima">
      <soap12:operation style="document" soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/eliminarPrima" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarPreInscripcion">
      <soap12:operation style="document" soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/guardarPreInscripcion" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarInscripcion">
      <soap12:operation style="document" soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/guardarInscripcion" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renovarProteccionMovil">
      <soap12:operation style="document" soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/renovarProteccionMovil" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarExistenciaProteccionMovil">
      <soap12:operation style="document" soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/validarExistenciaProteccionMovil" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesarPagoPM">
      <soap12:operation style="document" soapAction="http://claro.com.pe/eai/ws/gestionaproteccionmovilws/procesarPagoPM" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionaProteccionMovilWSService">
    <wsdl:port name="GestionaProteccionMovilWSSB11" binding="tns:GestionaProteccionMovilWSPortTypeSOAP11Binding">
      <soap:address location="http://limdeseaiv28.tim.com.pe:8909/GestionaProteccionMovilWS/GestionaProteccionMovilWSSB11" />
    </wsdl:port>
    <wsdl:port name="GestionaProteccionMovilWSSB12" binding="tns:GestionaProteccionMovilWSPortTypeSOAP12Binding">
      <soap12:address location="http://limdeseaiv28.tim.com.pe:8909/GestionaProteccionMovilWS/GestionaProteccionMovilWSSB12" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>